<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omegle</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"/>
</head>
<body class="bg-gray-900  text-white flex items-center justify-center min-h-screen">

    <div class="mx-auto bg-gray-800 rounded-lg shadow-md p-6 ">
      <div class="index  w-fit flex flex-col items-center justify-center gap-3">
        <h1 class="text-3xl font-bold mb-4 text-center">Welcome to Omegle Clone</h1>
        <p class="text-center mb-6 text-gray-400">Connect with random strangers and start chatting!</p>
        
<!-- 
<form class="start-chat" id="start-chat">
  <input type="text" name="username"  id="name-input" placeholder="Enter your username" class="px-4 py-2 rounded-xl bg-gray-100 text-black" required>
<input type="submit" value="Start chat" class="  bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition cursor-pointer duration-200 mb-4">

</form> -->

<a href="/chat" class="text-center ">      <Button id="start-chat" class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded transition cursor-pointer duration-200 mb-4">Get Start</Button></a>      
      </div>

    
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
     
    </script>
  
    </body>
</html>